.Header__container {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  background-color: var(--background-color);
  box-shadow: 0 0 5px;
}

.header__img__wrap {
  flex-grow: 0;
  height: 50px;
  margin-right: 10px;
}
.header__content_wrap {
  flex-grow: 1;
  display: flex;
  position: relative;
  transition: 0.5s ease-in-out;
}
.header__content_wrap a {
  flex: 1;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: var(--text-color);
}
.header__content_wrap a:hover{
    color:orange
}
.underline {
  position: absolute;
  width: 425px;
  height: 3px;
  background: var(--underline-color);
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.header__toogleBtn{
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: white;
    padding: 8px 0px;
    display: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.header__toogleBtn:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}


@media screen and (max-width: 768px){
    .Header__container{
        flex-direction: column;
    }
    .header__content_wrap{
        flex-direction: column;
        display: none;
    };
    .underline{
        display: none;
    }
    .header__toogleBtn{
        display: block;
    }
}